.about-me__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-me{
    padding:25px 0;
}
.about-me__experiences{
    display: flex;
    flex-direction: column;
    order: 2;
}
.about-me__skills{
    position: relative;
    display: flex;
    gap: 10px;
    padding: 10px;
}
.about-me__icon{
    font-size: 2rem;
    color: var(--color-primary);

    position: relative;
    z-index: 1;
}
.about-me__skills::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 2px;
    height: 80%;
    border-radius: 60%;
    z-index: 0;
    background-color: var(--color-primary);
}
.about-me__developer{
   text-align: center;   
   font-size: 1.1rem;
   font-weight: 300;
}
.about-me__description{
   order:1;
}
.about-me__dot{
    position: absolute;
    inset-block-start:-0.3rem;
    inset-inline-start: 0;
    transform: translate(-25%, -70%); 
    inline-size: 0.310rem; 
    block-size: 0.310rem;
    border-radius: 50%;
    z-index: 1;
    background-color: var(--color-primary);
} 
.about-me__title{
    position: relative;
    text-align: center; 
    font-size: 1.5rem;
    font-weight: 500; 
    padding-block-end: 1rem; 
}
.about-me__title::after{
    content: '';
    position: absolute;
    bottom: 0.25rem;
    left: 50%;
    width: 5rem;
    height: 0.1875rem;
    border-radius:0.125rem;
    transform: translateX(-50%);
    background-color: var(--color-primary);
} 
.about-me__text{
    font-size: 1rem;
    font-weight: 200;
    padding: 15px 0;
} 

@media(min-width:460px){
   .about-me__content {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
   .about-me__experiences{
      order: 1;
    }
   .about-me__description{
      order:2;
    }
}