.achievements .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* .achievements__info{
   margin: 10px;
} */
.achievements__number{
    font-size: 20px;
    margin: 5px;
}
.achievements__icon{
    font-size: 25px;
    margin: 5px;
    color: var(--color-primary);
}