.achievements{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.achievements__info{
   margin: 10px;
}
.achievements__number{
    font-size: 25px;
    padding: 5px;
}
.achievements__icon{
    font-size: 30px;
    color: var(--color-primary);
}
.achievements__label{
    margin: 20px;
}

@media(max-width:375px){
    .achievements{
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
    .achievements__info{
      display: flex;
      margin: 10px;
      align-items: center;
    }
    .achievements__number{
      margin: 5px;
      font-size: 20px;
    }
    .achievements__icon{
      font-size: 25px;
    }
    .achievements__label{
        display: block;
        align-items: center;
        max-width: 70px;
        margin-top: -5px;
    }
}