.card{
    text-align: center;
}
.card__title{
    position: relative;
    font-size: 1.7rem;
    margin-bottom: 9rem;
}
.card__title::before{
    position: absolute;
    content: '';
    width: 0.3rem;
    left: 50%;
    height: 1.9em;
    z-index: 0;
    top: 1.2em;
    border-radius: 20px;
    transform: translateX(-50%);
    background-color: var(--color-primary);
}
.card__title::after{
   content: '';
   position: absolute;
   left: 50%;
   width: 0.5rem;
   height: 0.5rem;
   top: 3.2em;
   border-radius: 50%;
   transform: translateX(-50%);
   background-color: var(--color-primary);
}
.card__item{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5rem;
    border: 1px solid var(--secondary-letters);
}
.card__box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.card__subtitle{
    font-size: 1.4rem;
    font-weight: 500;  
    margin-bottom: 0.8rem;
    line-height: 2;
}
.card__list{
    display: flex;
    list-style: none; 
    gap: 0.5rem;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}
.card__tech{
    font-size: 0.9rem;
    border: 1px solid var(--secondary-letters);
    border-radius: 30px;
    padding: 8px;
}
.card__description{
    text-align: left;
    font-weight: 300;
    line-height: 1.6;
    margin-bottom: 1.2rem;
}
.card__actions{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1.2rem;
}
.card__btn{
    font-size: 1rem;
    font-weight: 600;
    border: none;
    padding: 0.6rem 1.2rem;
    cursor: pointer;
    color: var(--color-letters);
}
.card__btn--github{
    background-color: var(--color-primary);
}
.card__btn--preview{
   position: relative;
   background-color: var(--background-color);
}
.card__btn--preview::before{
    content: '';
    position: absolute;
    bottom: 0.1em;
    left: 50%;
    width: 7rem;
    height: 0.1875rem;
    border-radius:0.125rem;
    transform: translateX(-50%);
    background-color: var(--color-primary);
} 
.card__btn--preview .card__icon--square{
    font-size: 1rem;
} 
.card__img{
    width: 100%;
    max-width: 250px;
    min-width: 100px;
    height: auto;
    border-radius: 4px;
    object-fit: cover;
}

@media(min-width:460px) {
  .card__item{
    flex-direction: row;
    justify-content: space-between;
    border:none;
  }
  .card__image{
    margin-bottom: 1.5rem;
    align-self: center;
  }
}
