.header{
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 25px 70px 25px 70px;
   text-align: center; 
}
.header__name{
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
}
.header__nav{
    text-align: center;
}
.header__list{
    display: flex;
}
.header__item{
    margin: 10px;
    transition: border-bottom 0.3s;
    border-bottom: 2px solid transparent;
    list-style-type: none;
}
.header__item:hover{
    border-bottom: 2px solid var(--color-primary);
}
.header__link{
    text-decoration: none;
    color: var(--color-letters);
}