.presentation{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 400px;
}
.presentation__intro{
  position: relative;
  transform: translateY(-20px);
  text-align: left;
}
.presentation__greeting{
    display: flex;
    margin-bottom: 10px;
}
.presentation__hello{
    font-size: 35px;
    margin-left: 70px;
    font-weight: bold;
}
.presentation__circle{
    margin: 4px;
    margin-top: 25px;
    font-size: 10px;
    color: var(--color-primary);
}
.presentation__identity{
    display: flex;
    align-items: baseline;
    margin-top: 5px;
}
.presentation__line{
    display: inline-block;
    width: 90px;
    height: 2px;
    background-color: var(--color-primary);
}
.presentation__name{
    margin: 0 0 0 5px;
    line-height: 1;
    font-size: 25px;
    font-weight: 300;
}
.presentation__rol{
    font-size: 25px;
    margin-left: 70px;
    font-weight: 600;
    margin-top: 10px;
}
.presentation__buttons{
    display: flex;
    gap: 10px;
    margin-top:20px;
    margin-left: 70px;
}
.presentation__buttons .presentation__button--projects, .presentation__buttons .presentation__button--cv{
    font-size: 16px;
    padding: 15px;
    font-weight: 500;
    margin-right: 25px;
    border-radius: 5px;
    cursor: pointer;
    color: var(--color-letters);
}
.presentation__button--projects{
    border: var(--color-primary);
    background-color: var(--color-primary);
    
}
.presentation__button--projects:hover{
    background-color: var(--color-hover-primary);
}
.presentation__button--cv{
    background-color: var(--background-color);
    border:1px solid  var(--color-primary);
}

.presentation__image{
    position: relative;
    display: inline-block;
    margin-left: 0;
    margin-right: 0;
}
.presentation__profile{
    display: block;
    max-width: 200px;
    width: 100%;
}
.presentation__icon--left{
    position: absolute;
    bottom: 0;
    left: -20px;
    color: var(--color-primary);
}
.presentation__icon--right{
    position: absolute;
    top:0;
    right: -20px;
    color: var(--color-primary);
}