.presentation__content{
    position: relative;
}
.presentation__box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
    gap: 10px;
}
.presentation__hello{
    display: inline-flex;
    align-items: center;
    gap: 4px;
    font-size: 1.5rem;
    font-weight: bold;
}
.presentation__circle{
    font-size: 0.5rem;
    transform: translateY(8px);
    color: var(--color-primary);
}
.presentation__name{
    font-size: 1.5rem;
    font-weight: 300; 
}
.presentation__line{
    display: inline-block;
    width: 3.9em;
    height: 2px;
    background-color: var(--color-primary);
}
.presentation__rol{
    font-size: 1.5rem;
    font-weight: 400;
}
.presentation__actions{
    display: flex;
    gap: 20px;
}
.presentation__projects,  
.presentation__cv{
    font-size: 1rem;
    padding: 10px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    color: var(--color-letters);
}
.presentation__projects{
    border: none;
    background-color: var(--color-primary);
}
.presentation__cv{
    background-color: var(--background-color);
    border:1px solid  var(--color-primary);
}
.presentation__image{
    position: relative;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.presentation__profile{
    width: clamp(150px, 50%, 250px);
    display: block;
}
.presentation__icon--left,
.presentation__icon--right{
    position: absolute;
    font-size: 1.8rem;
    color: var(--color-primary);
}
.presentation__icon--left{
    top: 5%;
    left: 5%;
}
.presentation__icon--right{
    bottom:5%;
    right: 5% ;    
}


@media(min-width:460px){
    .presentation__content{
        display: flex;
        justify-content: space-between;
        align-items: center;
  }
    .presentation__hello{
        font-size: 2rem;
    }
    .presentation__name{
        font-size: 2rem;
    }
    .presentation__projects,  
    .presentation__cv{
        font-size: 1.2rem;
        padding: 15px;
    }
    .presentation__rol{
        font-size: 1.8rem;
    }
    .presentation__icon--left{
        top: 5%;
        left: 5%;
       transform: translate(0, 0);

    }
    .presentation__icon--right{
        bottom: 5%;
        right: 5%;
    } 
}
