.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;  
}
.projects__item{
    display: flex;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    flex-direction: column;
    gap: 25px;
}
.projects__title{
    position:relative;
    text-align: center;
    padding: 15px;
    margin: 30px 0 30px 0px;
    font-weight: 500;
    font-size: 1.5rem;
}
.projects__title::before{
    content: '';
    position: absolute;
    bottom: -1px;
    left: 50%;
    width: 150px;
    height: 3px;
    border-radius: 2px;
    transform: translateX(-50%);
    background-color: var(--color-primary);
}
.projects__body{
    display: flex;
    align-items: flex-start;
    gap: 200px;
}
.projects__text{
    min-width: 400px;
    text-align: left;
    font-weight: 300;
    margin: 20px 0;
    line-height: 1.5;
}
.projects__img{
   width: 250px;
   height: auto;
   border-radius: 5px;
} 
.projects__features{
    text-align: center;
    margin-top: 10px;
}
.projects__features-heading{
    position: relative;
    text-align: left;
    font-size: 1.2rem;
    font-weight: 400;
    margin: 20px 0;
    border: 1px solid var(--secondary-letters);
    border-radius: 10px;
    padding: 10px;
}
.projects__feature-text{
    text-align: left;
    min-width: 500px;
    font-size: 1.1rem;
    font-weight: 100;
    margin: 10px 0;
}

@media(max-width:375px){
    .projects{
      max-width: 90%;
    }
    .projects__item{
      align-items: center;
      text-align: center;
      width: 100%;
      margin: 0 auto;
    }
    .projects__title{
      position: relative;
      left: 35%;
      transform: translateX(-50%);
      text-align: center;
      width: auto;
      font-size: 18px;
      margin: 15px 0 5px 0px;
    }
    .projects__title::before{
      width: 120px;
      height: 2px;
      top: 45px;
    }
    .projects__body{
      text-align: center;
      flex-direction: column;
      gap: 20px;
    }
    .projects__text{
      min-width: unset;
      max-width: 150px;
      font-size: 0.8rem;
      line-height: 1.5;
      margin: 10px 0;
    }
    .projects__feature-text{
      min-width: unset;
      max-width: 100%;
      font-size: 0.9rem;
      text-align: center;
    }
    .projects__img{
      align-items: center;
      width: 100%;
      max-width: 150px;
      height: auto;
      margin: 0 auto;
    } 
    .projects__features{
      max-width: 150px;
    }
    .projects__features-heading{
      font-size: 0.8rem;
       padding: 8px;
    }
    .projects__feature-text{
      font-size: 0.7rem;
    }
}
