.skills{
    padding: 10px;   
    background-color: var(--background-color-secondary);
}
.skills__list{
    display: flex;
    justify-content: space-around;
    align-items:center ;
    list-style-type: none;
    padding-left: 10px;
    padding-right: 60px;
    flex-wrap: wrap;
    color: var(--secondary-letters);
}
.skill__item{
    text-decoration: none;
}