.container{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 0 auto;
   max-width: 800px;
}
 .skills{
    background-color: var(--background-color-secondary);
   
}
.skills__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    list-style-type: none;
    color: var(--secondary-letters);
}
