:root{
    --background-color:#121C23;
    --color-letters: #FFFFFF;
    --color-primary:#FF6A00;
    --color-hover-primary: #ec8033e3;
    --secondary-letters: #505C67;
    --background-color-secondary:#162027;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inter', sans-serif;
    background-color: var(--background-color);
    color: var(--color-letters);
}

/*SECCION DEL HEADER ⬇️*/
.header{
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 25px 70px 25px 70px;
   text-align: center; 
}
.name{
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
}
.portfolio-data{
    text-align: center;
}
.list-about-me{
    display: flex;
}
.list{
    margin: 10px;
    transition: border-bottom 0.3s;
    border-bottom: 2px solid transparent;
    list-style-type: none;
}
.list:hover{
    border-bottom: 2px solid var(--color-primary);
}
.list-header{
    text-decoration: none;
    color: var(--color-letters);
}

.menu{
    cursor: pointer;
    display: none;
    align-items: center; 
    padding: 5px;
}
/*SECCION DEL HEADER ⬆️*/


/*SECCION PRESENTATION ⬇️*/
.presentation .container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 200px;
}

.greeting-container{
  position: relative;
  transform: translateY(-60px);
  margin-left: 50px;
}
.greeting{
    display: flex;
    margin-bottom: 10px;
}
.greeting-hello{
    font-size: 35px;
    margin-left: 70px;
    font-weight: bold;
}
.fa-circle{
    margin: 4px;
    margin-top: 25px;
    font-size: 10px;
    color: var(--color-primary);
}
.name-line{
    display: flex;
    align-items: baseline;
    margin-top: 5px;
}
.line{
    display: inline-block;
    width: 90px;
    height: 2px;
    background-color: var(--color-primary);
}
.my-name{
    margin: 0 0 0 5px;
    line-height: 1;
    font-size: 25px;
    font-weight: 300;
}
.professional{
    font-size: 25px;
    margin-left: 70px;
    font-weight: 600;
    margin-top: 10px;
}

.button-container{
    margin-left:115px;
    margin-top: -40px;
}
.button-container .my-projects, .button-container .my-cv{
    font-size: 16px;
    padding: 15px;
    font-weight: 500;
    margin-right: 25px;
    border-radius: 5px;
    cursor: pointer;
    color: var(--color-letters);
}
.my-projects{
    border: var(--color-primary);
    background-color: var(--color-primary);
    
}
.my-projects:hover{
    background-color: var(--color-hover-primary);
}
.my-cv{
    background-color: var(--background-color);
    border:1px solid  var(--color-primary);
}

.image-container{
    position: relative;
    display: inline-block;
    margin-left: auto;   
    margin-right: auto;  
    margin-top: 10px;
}
.personal-image{
    display: block;
    max-width: 200px;
    width: 100%;
}
.fa-angles-left{
    position: absolute;
    bottom: 0;
    left: -20px;
    color: var(--color-primary);
}
.fa-angles-right{
    position: absolute;
    top:0;
    right: -20px;
    color: var(--color-primary);
}


.skills{
    padding: 10px;   
    background-color: var(--background-color-secondary);
}
.skills-list{
    display: flex;
    justify-content: space-around;
    align-items:center ;
    list-style-type: none;
    padding-left: 10px;
    padding-right: 60px;
    flex-wrap: wrap;
    color: var(--secondary-letters);
}
.skill-item{
    text-decoration: none;
}



.container-about-me{
    display: flex;
    justify-content: space-around;
    padding: 25px;
    
}
.development-skills{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 50px;
}
.item-about{
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
    margin-bottom: 30px; 
}
.item-about::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 2px;
    height: 80%;
    border-radius: 50%;
    z-index: 0;
    background-color: var(--color-primary);
}
.item-about .fa-laptop-code,
.item-about .fa-mobile-screen,
.item-about .fa-pen-ruler{
    position: relative;
    z-index: 1;
    font-size: 40px;
    color: var(--color-primary);
}
.item-about .timeline-dot{
    position: absolute;
    left: -5px;
    top: -25px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--color-primary);
    z-index: 1;
}


.about-title{
    position: relative;
    font-size: 30px;
    font-weight: 500;
    padding: 15px;
    text-align: center; 
}
.about-title::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 55%;
    width: 80px;
    height: 3px;
    border-radius: 2px;
    transform: translateX(-50%);
    background-color: var(--color-primary);
}
.about-text{
    padding: 5px;
    margin-top: 25px;
}









@media(max-width:440px){
   .header{
      justify-content: flex-start;
   }
   .name{
    font-size: 13px;
   }
   .menu{
    display: flex;
   }
}