:root{
    --background-color:#121C23;
    --color-letters: #FFFFFF;
    --color-primary:#FF6A00;
    --color-hover-primary: #ec8033e3;
    --secondary-letters: #505C67;
    --background-color-secondary:#162027;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inter', sans-serif;
    background-color: var(--background-color);
    color: var(--color-letters);
}