.training__title{
  position: relative;
  text-align: center;
  font-size: 1.7rem;
  font-weight: 500;
  margin-bottom: 5.5rem;
}
.training__title::before{
  position: absolute;
  content: '';
  width: 0.25rem;
  left: 50%;
  height: 1.5em;
  z-index: 0;
  top: 1.3em;
  border-radius: 0.25rem;
  transform: translateX(-50%);
  background-color: var(--color-primary);
}
.training__title::after{
  position: absolute;
  content: '';
  left: 50%;
  width: 0.35rem;
  height:0.35rem;
  top: 3em;
  border-radius: 50%;
  transform: translateX(-50%);
  background-color: var(--color-primary);
}
.training__list{
  list-style: none; 
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5rem;
}
.training__box{
  display: flex;
  align-items: center;
  padding: 0.6rem;
  border: 1px solid var(--secondary-letters);
  background-color: var(--background-color-secondary);
}
.training__icon{
  font-size: 1.8rem;
  margin-right: 0.9rem;
  color: var(--color-primary);
}
.training__item{
  font-weight: 300;
}